nav
    padding: 40px 0px
    ul
        list-style: none
        margin: 0px
        padding: 0px
        height: 100%
        li
            margin: 0px 20px
            height: 100%
            padding: 11px
    .ulcentre
        width: 600px
    .centragelogo
        width: 350px
    .bordhautbas
        border-top: 1px solid white
        border-bottom: 1px solid white
        height: 50px
header
    z-index: -1
    background-image: url(../img/banner1.jpg)
    background-size: 100
    background-color: rgba(0, 0, 0, 0.774)
    background-blend-mode: darken
    background-position: center center
    height: 700px
    .btnnav
        width: 200px
        margin: 0px 20px
        border-radius: 30px
        height: 50px
    .centragehead
        width: 500px
        margin-top: 300px
        margin-bottom: 100px
    .fixage
        position: fixed
        display: flex
        justify-content: center
    .centragenav
        width: 100%
    .total
        width: 100%
    