@import '_style.sass'

@media (min-width:320px) and (max-width:768px)
    .centragelogo
        display: none !important
    .fixage
        font-size: 0.7em !important
    li
        margin: 0px 0px !important
        height: 50px !important
        width: 100px !important
        justify-content: center
    .ulcentre
        width: 100% !important
    ul
        flex-direction: column
    .fts-1
        font-size: 2em !important
    .fts-2
        font-size: 1em !important
    .centragehead
        width: 200px !important
    .dentelletopnav
        margin-top: 374px !important
    .txts1
        p
            display: none
    .plat1, .plat2, .plat3, .plat4
        .mt-3
            flex-direction: column
            align-items: center
            text-align: center
        .gras
            font-size: 0.7em !important
        .menuimg
            margin: 0px !important
        .alignement
            flex-direction: column
            align-items: center
            margin: 0px 30px
    .feuille1
        width: 100% !important
        
@media (min-width:768px) and (max-width:1024px)
    .fixage
        font-size: 0.8em !important
    header
        width: 100% !important
    .ulcentre
        width: 100% !important
    .centragelogo
        width: 100px !important
    .feuille1
        width: 100% !important
    .txts1
        p
            display: none
    .plat1, .plat2, .plat3, .plat4
        .gras
            font-size: 0.8em !important